// variables
$color-white: #FFFFFF;
$color-black: #000000;
$color-bgd: #181818;
$color-green: #7ED321;
$color-grey: #D8D8D8;
$color-lightgrey: #D0D0D0;
$color-grey2: #B9B9B9;
$font-Roboto: 'Roboto', sans-serif;
//mixins
//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
//helpers
@import "helpers/media-queries";
@import "helpers/_svg";
// sections
@import "sections/navigation";
//blocks
@import "blocks/burger";
@import "blocks/user";
@import "blocks/feedback";
//common styles
* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 85px auto 153px;
  font-family: $font-Roboto;
  background-color: $color-bgd;
  color: $color-white;
  padding: 0 15px;
  max-width: 1280px;
}

h1 {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.container {
  max-width: 616px;
}

.feedbacks {
  margin-top: 50px;
}

// .rectangle__green {
//   @include inline-svg($rectangle__green);
// }
//
// .rectangle__grey {
//   @include inline-svg($rectangle__grey);
// }
//
// .thumb__up__green {
//   @include inline-svg($thumb__up__green);
// }
//
// .thumb__up__grey {
//   @include inline-svg($thumb__up__grey);
// }
